{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h3>{{ news|length }}</h3>
    <h1>Все новости</h1>
    <hr>
    {% if news %}
        {% for post in news %}
            <h1>{{ post.heading|censor }}</h1>
            <h3>{{ post.creation_date|date:'M d Y' }}</h3>
            <h3>{{ post.text|truncatechars:50|censor }}</h3>
            <hr>
        {% endfor %}
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}
